.sponsors_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sponsors_items img {
    width: 170px;
}

.sponsors_title {
    width: 250px;
}

.sponsors_items {
    display: grid;

    /* Три колонки */
    grid-template-columns: auto auto auto auto;
    /* Два ряда */
    grid-template-rows: auto auto;
    /* Автоматическое размещение в ряд */
    grid-auto-flow: row;
    /* Отступы между ячейками */
    /* gap: 10px; */
    row-gap: 80px;
    column-gap: 130px;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 35px;
}

.sponsors_section {
    position: relative;
}

.sponsors_section .pink_arrow {
    position: absolute;
    top: 160px;
    right: 10px;
}

.sponsors_section .blue_triangle_with_dots {
    position: absolute;
    top: 150px;
    left: 0;
    width: 300px;
    height: 170px;
}

.warning_wrapper{
    display: none;
}

.sponsors_content .facebook:hover .warning_wrapper {
    display:block;
    position: absolute;
    top: 50px;
    left: 580px;
    width: 600px;
    border-radius: 25px;
    padding: 20px;
    background-color: #4d4d4c;
} 

.warning_wrapper::after {
    content: '';
    width: 39px;
    height: 50px;
    border-left: 3px solid #4d4d4c;
    border-bottom: 5px solid #4d4d4c;
    position: absolute;
    bottom: -20px;
    left: 40px;
    background: #4d4d4c;

    z-index: -1;
    transform: skewX(-30deg) skewY(-48deg);
}

.warning_text {
    color: #fff;

}