*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    margin-bottom: 32px;

}

.text {
    opacity: 0.7;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 80px;
}


button {
    padding: 18px 34px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

.blue_btn {
    background: #381DDB;
    color: #FFFFFF;
}

.exploreByCategory_section,
.about_musik_section,
.singers_section,
.choose_section {
    margin: 240px 0 240px 0;
}